@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations";

@import "./base/base";
@import "./base/typography";

@import "./layout/nav";
@import "./layout/headers";
@import "./layout/info-box";
@import "./layout/popup";

@import "./pages/projects";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/resume";
@import "./pages/media-phone";
@import "./pages/media-tablet";
@import "./pages/media-laptop";
@import "./pages/media-laptopL";
@import "./pages/waterfall";