.name-header{
    @include header-style;
    font-size: 3.25em;
    animation: squeeze-in 1.25s ease-in-out both;
    margin-left: 5%;
    & ul{
        list-style: none;
    }
    & li:nth-child(2){
        margin-left: 10%;
    };
}

.title-header{
    color: $textColor;
    font-size: 2.25em;
    margin-left: 50%;
    margin-top: 25%;
    animation: squeeze-in 1s ease-in-out .75s both;
}

.page-header{
    color: $textColor;
    font-size: 1.75em;
    margin-left: 3%;
    margin-bottom: 20px;
    width: 100%;
    display: inline-flex;
    animation: squeeze-in 1.75s ease-in-out both;
}