.st1{
    animation-delay: .3s;
}
.st2{
    animation-delay: .45s;
}
.st3{
    animation-delay: .6s;
}
.st4{
    animation-delay: .75s;
}
.st5{
    animation-delay: .9s;
}
.sm1{
    animation-delay: .3s;
    animation-direction: reverse;
}
.sm2{
    animation-delay: .45s;
    animation-direction: reverse;
}
.sm3{
    animation-delay: .6s;
    animation-direction: reverse;
}
.sm4{
    animation-delay: .75s;
    animation-direction: alternate;
}
.sm5{
    animation-delay: .9s;
    animation-direction: alternate;
}
.sb1{
    animation-delay: .6s;
    animation-direction: reverse;
}
.sb2{
    animation-delay: .8s;
    animation-direction: alternate;
}
.sb3{
    animation-delay: 1s;
    animation-direction: reverse;
}
.sb4{
    animation-delay: 1.2s;
    animation-direction: alternate;
}
.sb5{
    animation-delay: 1.4s;
    animation-direction: reverse;
}