nav{
    display: flex;
    flex-flow: column;
    flex: auto;
    justify-content: right;
    align-content: space-around;
    @include nav-style;
    width: 35%;
    margin-right: 2%;
    & ul{
        list-style-type: none;
        margin: 0 auto;
    }
    & li{
        margin-bottom: 15%;
        margin-top: 15%;
    }
    & li:first-child{
        animation: squeeze-in 1s ease-in 1.25s both;
    }
    
    & li:nth-child(2){
        margin-left: 25%;
        animation: squeeze-in 1s ease-in 1.5s both;
    }
    & li:nth-child(3){
        margin-left: 55%;
        animation: squeeze-in 1s ease-in 1.75s both;
    }
    & li:nth-child(4){
        margin-left: 90%;
        animation: squeeze-in 1s ease-in 2s both;
    }
    & a{
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        color: $textColor;
        text-shadow: 2px 1.5px 10px $shadowColor;
    }
    & a:visited{
        color: lighten($color: $textColor, $amount: 80);
        text-shadow: 2px 2px 10px darken($color: $textColor, $amount: 70);
    }
    & a:hover{
        text-shadow: -.5px 1.5px 5px $shadowColor;
        transform: translateX(-50px) scale(1.2);
        font-weight: 600;
        background-color: lighten($color: $textColor, $amount: 15);
        border: lighten($color: $textColor, $amount: 15);
        border-radius: 30%;
    }
    
}