html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.primary, .secondary{
    @include background-style;
}

.flex-container{
    display: flex;
    flex: auto;
}

main{
    width: 70%;  
}

.title-body{
    flex-flow: column;
}

.phone-image{
    display: none;
}
