@media screen and (max-width: 600px){
    .secondary{
        background-image: url(img/gradient.jpg);
        background-color: #095000;
        background-blend-mode: difference;
        background-attachment: fixed;
        background-size: cover;
    }
    .primary{
        background-size: contain;
        background-color: #095000;
    }
    .flex-container{
        flex-flow: column;
        margin-right: 7%;
        justify-content: center;
        align-items: center;
    }
    main{
        width: 100%;
    }
    .name-header{
        font-size: 1.6em;
        text-align: center;
        margin-left: 1%;
        justify-content: center;
        align-items: center;
        & li{
            display: inline;
        }
        & li:nth-child(2){
            margin-left: 1%;
        };
    }
    .title-header{
        font-size: 1.1em;
        width: 100%;
        text-align: center;
        margin-left: 5%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    nav{
        order: -2;
        font-size: 12px;
        margin-right: 1%;
        width: 100%;
        margin-bottom: -5%;
        display: flex;
        flex: auto;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        & ul{
            margin-left: 5px;
            margin-right: 1%;
            margin-top: -6%;
            text-align: center;
        }
        & li{
            margin-left: 0;
            display: inline-flex;
            &:first-child{
                animation: squeeze-in 1s ease-in-out both;
            }
            &:nth-child(2){
                margin-left: 5px;
                animation: squeeze-in 1s ease-out .25s both;
            }
            &:nth-child(3){
                margin-left: 5px;
                animation: squeeze-in 1s ease-out .5s both;
            }
            &:nth-child(4){
                margin-left: 5px;
                animation: squeeze-in 1s ease-out .75s both;
            }
        }
        & a{
            padding: 1px;
        }
    }
    .page-header{
        font-size: 1em;
        justify-content: center;
        align-items: center;
        order: -2;
        animation: squeeze-in 1s ease-in-out 1s both;
    }
    .info-box{
        margin-top: 1%;
        margin-left: 1%;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
    .address{
        margin-left: 0;
        & p{
            margin-left: 0%;
        }
    }
    .email{
        margin-left: 0;
        & p{
            margin-left: 0%;
        }
    }
    .github{
        margin-left: 0;
        & p{
            margin-left: 0%;
        }
    }
    .top-box.info-box, .bottom-box.info-box{
        width: 100%;
        max-height: 300px;
        margin-left: 1%;
        margin-right: 2%;
        filter: blur(0);
        padding-top: 5px;
    }
    .top-box.info-box{
        margin-top: -2%;
        animation: slide-in 1.5s cubic-bezier(.11,.64,.63,.91) 1.75s both;
    }
    .bottom-box.info-box{
        margin-left: 4%;
        animation: slide-in 1.5s cubic-bezier(.11,.64,.63,.91) 2s both;
    }
    .resume-page-body{
        width: 100%;
    }
    .icons{
        width: 60%;
        margin-top: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 35%;
        & a{
            font-size: 36px;
            margin-bottom: 100px;
        }
    }
    .resume-page-body{
        flex-direction: column;
    }
    .education.popup, .experience.popup, .reference.popup{
        left: 5%;
        top: 10%;
        &:target{
            animation: drop-down 1.5s ease-in-out forwards;
        }  
    }
    @keyframes drop-down{
        0%{transform: scale(.5); opacity: 0;}
        66%{transform: scale(1.25) translateX(175px); opacity: 1;}
        100%{transform: scale(.8) translateX(-75px);}
    }

    @keyframes drop-down2{
        0%{transform: scale(.5); opacity: 0;}
        66%{transform: scale(1.6) translateX(300px); opacity: 1;}
        100%{transform: scale(.85) translateX(190px);}
    }
    .images{
        transform: rotateX(0deg) rotateY(0deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: all .4s ease-in-out;
        z-index: 300;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -20px;
        margin-right: 10%;
        left: 16%;
        margin-left: 15%;
        filter: none;
        & a{
            width: 100%;
            margin-bottom: 10px;
            border: none;
        }
        & img{
            transform: scaleX(2.5);
            margin-left: 90px;
        };
        &:hover{
            z-index: 300;
            transform: rotateY(180deg);
        }
    }
    .popup{
        z-index: 400;
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: all .4s ease-in-out;
        width: 60%;
        top: 25%;
        left: 15%;
        &:target{
            animation: none;
            z-index: 400;
            transform: rotateX(0deg) rotateY(0deg);
        }

    }
}
